<template name="OafServiceCredentialsPopup">
  <div id="OafServiceCredentialsPopup">
    <h1>Please set your service credentials</h1>
    {{#each credentials}}
      <form name="oafservicecredentialsform-{{key}}" class="oafservicecredentialsform">
        <h2>{{key}}</h2>
        <input type="hidden" value="{{key}}" name="key" />
        {{#each fields}}
          <label>
            {{name}}
            <input type="text" name="{{name}}" class="field" />
          </label>
        {{/each}}
        <button type="submit">Save</button>
      </form>
    {{/each}}
  </div>
</template>
