<template name="OafServiceCredentialsPopup">
  <div id="OafServiceCredentialsOverlay">
    <div id="OafServiceCredentialsPopup">
      <h1>Please set your service credentials</h1>
      {{#each credentials}}
        {{> OafServiceCredentialsForm}}
      {{/each}}
    </div>
  </div>
</template>

<template name="OafServiceCredentialsForm">
  <form name="oafservicecredentialsform-{{identifier}}" class="oafservicecredentialsform">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <input type="hidden" value="{{identifier}}" name="key" />
    {{#each fields}}
      <div class="oafservicecredentials-field">
        <label>
          {{label}} {{#if optional}}(optional){{/if}}
          <input type="text" name="{{identifier}}" class="field" placeholder="{{placeholder}}"/>
        </label>
        <p>{{description}}</p>
      </div>
    {{/each}}
    <button type="submit">Save</button>
  </form>
</template>
